<!DOCTYPE html>
<html lang="en" ng-app="cuentasApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- optionally if you need a theme like font awesome theme you can include it as mentioned below -->

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/datepicker3.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <!--Custom Font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <script src="js/public/jquery.js"></script>
    <script src="js/public/angular.js"></script>
    <script src="js/public/sweet.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.9/js/fileinput.min.js"></script>
</head>

<body ng-controller="cuentasController">

    <% include ../partials/navegacion.ejs %>
        <!--/.sidebar-->

        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
            <div class="row">
                <ol class="breadcrumb">
                    <li class="">Inicio</li>
                    <li class="active">Cuenta Bancaria</li>
                </ol>
            </div>
            <!--/.row-->

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Cuenta Bancaria</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Registrar Cuenta Bancaria
                        </div>
                        <div class="panel-body">
                            <form action="/api/cuentaBancaria" method="POST">
                                <div class="container row">
                                    <div class="form-group row">
                                        <label class="col-md-12 form-control-label" for="text-input"># de Cuenta</label>
                                        <div class="col-md-5">
                                            <input type="text" id="text-input" class="form-control" ng-model="cuentaBancaria.noCuenta" id="noCuenta" name="noCuenta"
                                                placeholder="# de Cuenta" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-12 form-control-label" for="text-input">Banco</label>
                                        <div class="col-md-5">
                                            <select class="form-control" ng-model="cuentaBancaria.banco" id="banco" name="banco">
                                                <option value="0">Seleccionar...</option>
                                                <option value="Santander">Santander</option>
                                                <option value="Banamex">Banamex</option>
                                                <option value="Bancomer">Bancomer</option>
                                                <option value="HSBC">HSBC</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-sm btn-primary">
                                            <i class="fa fa-dot-circle-o"></i> Guardar</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Todas las cuentas
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered table-striped table-condensed">
                                <thead>
                                    <tr>
                                        <th># de Cuenta</th>
                                        <th>Banco</th>
                                        <th>Monto</th>
                                        <th>Detalles</th>
                                        <th>Modificar</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="cuenta in cuentas">
                                        <td>{{ cuenta.noCuenta }}</td>
                                        <td>{{ cuenta.banco }}</td>
                                        <td>$ {{ cuenta.monto | number }}</td>
                                        <td>
                                            <a href="/depositos/{{ cuenta._id }}">Detalles</a>
                                        </td>
                                        <td>
                                            <a href="#">Modificar</a>
                                        </td>
                                        <td>
                                            <a href="#">Eliminar</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--/.main-->

        <script src="js/public/bootstrap.min.js"></script>
        <script src="js/public/chart.min.js"></script>
        <script src="js/public/chart-data.js"></script>
        <script src="js/public/easypiechart.js"></script>
        <script src="js/public/easypiechart-data.js"></script>
        <script src="js/public/bootstrap-datepicker.js"></script>
        <script src="js/public/custom.js"></script>

        <script src="js/views/cuentas.js"></script>
</body>

</html>